<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="javascript/main.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<div class="nav">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact_us">Contact</a>
</div>

<h1>Welcome to the Site</h1>

<%= yield %>

<h5>copyright 2015</h5>