<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<% @users.each do |u|%>
<%= u.email%> 
<%= link_to "delete user: #{u.email}", user_path(u), method: :delete if @current_admin%>
<br>
<%end%>