<h1>
    <%= "Welcome #{@name}!"%>
    <%= "from #{@city}!"%>
</h1> 
<br>
<h5>About the Company</h5>

<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque voluptatum quae pariatur animi modi mollitia sequi commodi aliquid distinctio, quod nulla velit cum placeat magnam assumenda nesciunt voluptate totam odit.</p>