<h1 class="buffer-sapce"> Home Page</h1>

<%="hi " + "there" %>
<%  a = ["Oggi", "Jon", "Bryan"] %>

<% a.each do |name| %>
<strong>
    <%= name %> <br>
</strong>
<%end%>

<!-- This is my ruby code -->
<% 10.times do %>
<strong>
    <%= "Hello World!".upcase %>
</strong>
<% end %>